#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#main-navabr ul li {
  left: 50%;
  float: left;
  display: block;
}

#sidebar {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container {
  text-align: center;
  padding: 0;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar ul li {
  display: block;
  padding: 15px 0;
}

#sidebar ul li a{
  color: #fff;
  text-decoration: none;
  background-color: #000;
}